body {
	margin: 0px;
	/*background-color: grey;*/
}

div#menu-overlay {
	background-color: black;
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

div#menu-overlay.open {
	visibility: visible;
}

.range-slider {
  margin: 0px;
}

fieldset {
	border-style: solid;
	border-color: #fff;
	border-radius: 4px;
}

svg {
	margin-top: -24px;
}

div#layers, div#sizes, div#styles {
	background-color: #486684;
	/*position: absolute;
	display: none;*/
	padding: 3px;
	margin: 3px;
}

div#controls {
	background-color: #486684;
}

ul#layers, ul#sizes, ul#styles {
	background-color: #34495e;
	border: 1px solid #fff;
	text-align: left;
	padding: 3px;
	margin: 3px;
}

li.menu {
	white-space: nowrap;
	text-align: left;
	font-size: 13px;
}

label.slider {
	color: #fff;
	width: 100%;
}

div#sizes > fieldset, div#layers > fieldset, div#styles > fieldset {
	/*width: 300px;*/
	/*width: 800px;*/
}

input[type=range] {
	/*width: 700px;*/
}

fieldset > * {
	vertical-align: middle;
}

legend {
	cursor: hand;
	font-size: 13px;
	color: #fff;
}

div#controls {
	visibility: hidden;
	top: 0px;
	transition: all 0.5s ease;
}

div#controls.open {
	visibility: visible;
}

.leftlabel, .rightlabel {
	display: inline-block;
	width: 50px;
	padding: 2px;
	text-align: center;
	font-size: 13px;
}

.leftlabel {
	/*background-color: red;*/
	color: white;
}
.rightlabel {
	/*background-color: purple;*/
	color: white;
}

/*label {
	display: inline-block;
	width: 50px;
}*/

/*input[type=checkbox]:checked + .checkbox:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
}
.checkbox {
	display: inline-block;
	cursor: pointer;
	font-size: 13px; margin-right:10px; line-height:18px;
}
input[type=checkbox] {
	display:none; 
}
.checkbox:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align:middle;
	background-color: #0088cc;
	color: #f3f3f3;
	text-align: center;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
	border-radius: 3px;
}*/
  /*.regular-checkbox {
    display: none;
  }
  
  .regular-checkbox + label {
		background-color: #34495e;
    border: 1px solid #34495e;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 1em 1em;
    position: relative;
  }
  
  .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 1px;
    left: 7px;
    color: white;
  }
  
  .regular-checkbox:active + label:active {
    background-color: #486684;
  }
  
  input[type=checkbox] {
    visibility: hidden;
  }
  
  .checkbox-design1 {
    width: 120px;
    height: 40px;
    background: #333;
    border-radius: 50px;
    position: relative;
  }
  
  .checkbox-design1:before {
    content: 'ON';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
  }
  
  .checkbox-design1:after {
    content: 'OFF';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #111;
    font-size: 16px;
  }
  
  .checkbox-design1 label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
  }
  
  .checkbox-design1 input[type=checkbox]:checked + label {
    left: 60px;
    background: #26ca28;
  }
  
  
  .checkbox-design2 {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    margin: 20px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .checkbox-design2 label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
  }
  
  .checkbox-design2 label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: linear-gradient(top, #00bf00 0%, #009400 100%);
    top: 2px;
    left: 2px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .checkbox-design2 input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
  
  input[type=checkbox] {
    visibility: hidden;
  }
  
  .checkcircle-design3 {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    margin: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .checkcircle-design3 label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 4px;
    top: 4px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d', GradientType=0);
  }
  
  .checkcircle-design3 label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .checkcircle-design3 label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }
  
  .checkcircle-design3 input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }*/